<div class="content-wrapper">
  <h1>Infinite search</h1>

  {{input placeholder="Who are you searching for?"
          value=searchText
          type="text"
          name="search"
          class="search-bar"
          action="search"
          on="enter"}}

  <div class="users-list">
    {{#each user in model}}
      <div class="user">
        <img {{bind-attr src=user.avatar}} class="avatar"/>
        <div class="name">{{user.name}}</div>
        <div class="clearfix"></div>
      </div>
    {{/each}}

    {{#infinite-scroll content=model hasMore=hasMore}}
      <img class="loading" src="img/preloader-horizontal-black.gif"/>
    {{/infinite-scroll}}
  </div>
</div>
