<div class="content-wrapper">
  <h1>Infinite search</h1>

  {{input placeholder="Who are you searching for?"
          value=searchText
          type="text"
          name="search"
          class="search-bar"
          action="search"
          on="enter"}}

  {{outlet}}
</div>
